
.logo{
    width: 250px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -50px;
    background-color: #001529;
    span{
        display: block;
        width: 177px;
        height: 47px;
        background-color: rebeccapurple;
    }
}